body{
    background: url("../images/3.jpg ") no-repeat center fixed;
    background-size: cover;
}
div{
    background-color: blue;
}
i
{
    color: aqua;
}
h1{
    color: #FBCDEF;
    text-align: center;
    width:500px;
   
    margin: 0 auto;
    margin-top: 300px;
    font-family: 'Lora', serif;
}
