body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Kanit', sans-serif;
    background: #b8b5ad;
}
.slidebar li
{
    padding: 20px;
    margin-right: 50px;
    
    
}
.slidebar a{
    color: white;
}
.bg
{
    background: #756948;
}
.blue-box
{
    height:220px ;
    background: linear-gradient(to bottom right,#8E2DE2,#4A00E0);
    border-radius:10px;
    padding:75px; 
    text-align: center;
}
.blue-box h3
{
    color:white;
}
.box-orange
{
    height:220px ;
    background: linear-gradient(to bottom right,#ac2e48,#4a0a19);
    border-radius:10px;  
    padding:75px; 
    text-align: center;
}
.box-orange h3
{
color:white;
}
.box-red
{
    height:220px ;
    background: linear-gradient(to bottom right,#800080,#ffc0cb);
    border-radius:10px; 
    padding:75px; 
    text-align: center;  
}
.box-red h3
{
    color:white;
}
.bn
{
    margin-top: 20px;
    color: white;
}